{% extends 'base.html.twig' %}


{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Please Sign In</h2>

                        <div class="mb-3">
                            <label for="inputUsername" class="form-label">Username</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" autocomplete="username" required autofocus>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password" required>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {#Uncomment this section for remember me functionality
                        <div class="mb-3 form-check">
                          <input type="checkbox" name="_remember_me" id="rememberMe" class="form-check-input">
                          <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                         #}

                        <div class="d-grid gap-2">
                            <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                        </div>

                        {% if error %}
                            <div class="alert alert-danger mt-3">
                                <p>La connexion a échoué, veuillez réessayer</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
